.markup {
    /*consider primary text color
        it will differ from the HN, but
        brings attention to the actual
        text of the story if present
    */
    color: var(--secondary-text-color);
    display: block;
    margin-top: var(--large-gap);
    max-width: 100%;
    overflow-wrap: anywhere;
}

    .markup ::deep a:link {
        color: var(--primary-text-color);
    }

    .markup ::deep a:visited {
        color: var(--secondary-text-color);
    }

    .markup ::deep pre {
        max-width: 100%;
        overflow: auto;
        padding: var(--small-gap);
        white-space: pre-wrap;
        overflow-wrap: anywhere;
    }

.title {
    display: inline-block;
    color: var(--primary-text-color);
}

h2 {
    font-weight: normal;
    display: inline;
    word-break: break-word;
}

    h2 a:visited {
        color: var(--secondary-text-color);
    }
