@inject NavigationManager navigationManager
@inject LengthProvider lengthProvider

<button class="large-text" aria-label="Length" onclick="@(async()=>await Click())">@value</button>
@code {
    int value;
    protected override async Task OnInitializedAsync()
    {
        value = await lengthProvider.Get();
    }
    async Task Click()
    {   //Next length value is calculated and saved to browser storage
        //Return value not required here as value will be picked up on load
        await lengthProvider.Next(value);
        navigationManager.NavigateTo("", forceLoad: true);
    }
}