svg {
    cursor: pointer;
    width: var(--large-text);
    fill: var(--primary-text-color);
    fill-rule: evenodd;
    clip-rule: evenodd;
    vertical-align: middle;
}

.hidden {
    visibility: hidden;
}
