svg {
    cursor: pointer;
    width: var(--large-text);
    fill: var(--primary-text-color);
    fill-rule: evenodd;
    clip-rule: evenodd;
    vertical-align: middle;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}